/* padding and margin */
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.p-block-10 {
    padding-block: 10px;
}
.p-block-15 {
    padding-block: 10px;
}
.p-block-20 {
    padding-block: 10px;
}

.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}

/* flex and grid */
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* border and radius */
.br-rad-5 {
    border-radius: 5px;
}
.br-rad-8 {
    border-radius: 8px;
}

.br-rad-50 {
    border-radius: 50%;
}